name: Build EXE
on: push
jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Add MSBuild to PATH
        uses: microsoft/setup-msbuild@v2

      - name: Build Solution
        run: msbuild Impersonate.sln /p:Configuration=Release /p:Platform=x64 /p:RuntimeLibrary=MultiThreaded

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Impersonate-EXE
          path: "**/Release/*.exe"
